{% load static %}
{% load recipe_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recette/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'recette/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'recette/css/jquery.fancybox.css' %}" />
    <script src="{% static 'recette/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'recette/js/jquery.fancybox.js' %}"></script>
</head>
<body>

     <div id="header" class="row">
         <!-- logo -->
         <div class="logo col-md-5"><a href="{% url 'index' %}"><img style="margin-left:70px;" src="{% static 'recette/img/la_bonne_recette.png' %}" alt="labonnerecette" /></a></div>
        <!-- search -->
         <div class="search col-md-4">
            {% include "recette/form_search.html" %}
         </div>
        <!-- Manage user-->
         <div class="user_button col-md-3">
            {% if user.is_authenticated %}
                <p>
                    Bienvenue <strong>{{ user.last_name }} {{ user.first_name }}</strong><br>
                    <strong>{% show_count_recipe %}</strong> recettes sont en ligne !
                </p>
                <a class="btn btn-info" href="{% url 'profil' %}">Mon profil</a>
                <a class="btn btn-danger" href="{% url 'logout' %}">Déconnexion</a>
            {% else %}
             <a class="btn btn-info" href="{% url 'register' %}">S'enregistrer</a>
             <a class="btn btn-primary" href="{% url 'login' %}">Connexion</a>
            {% endif %}
         </div>
     </div>


     <div id="main_container">
         <div id="menu">
             <ul class="nav nav-pills">
                    {% show_menu %}
                    <li><a href="http://127.0.0.1:8000/recipe/{% random_id_recipe %}">Recette au hasard</a></li>
              </ul>
         </div>

         <div id="main">
            <div id="page">
                {% block contents %}{% endblock %}
            </div>
         </div>
     </div>


     <div id="footer">
     </div>

</body>
</html>