{% extends 'recette/_base.html' %}
{% block title %}Ajouter une recette{% endblock %}
{% block contents %}
     <h1>Ajouter une recette !</h1>

    {% if success_message %}
            <h5 class="success_message">Votre recette a bien été créée ! <a href="{% url 'profil' %}">Consulter mes recettes</a></h5>
    {% endif %}

    <form action="{% url 'add' %}" class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ recipeForm.as_p }}
            {{ ingredientForm.as_p }}
            {{ priceForm.as_p }}
            {{ imgForm.as_p }}
            <input class="btn btn-primary" type="submit" value="Ajouter la recette !" />
    </form>
{% endblock %}