{% extends 'recette/_base.html' %}
{% block title %}Envoyer une recette{% endblock %}
{% block contents %}
     <h1>Envoyer à un amis la recette : {{ recipe.title }}</h1>

    <form id="friendForm" method="post" action="{% url 'mailAtFriends' recipe.id %}">
        {% csrf_token %}
        {{ friend_form.email }}
        {{ friend_form.message }}
        <input class="btn btn-primary" type="submit" value="Envoyer" />
    </form>


{% endblock %}