{% extends 'recette/_base.html' %}
{% block title %}Index{% endblock %}
{% block contents %}

   {% if typeRecipe %}
        <h1>{{ typeRecipe.label }}</h1>
        <div>{{ typeRecipe.detail }}</div>
   {% else %}
        <h1>Voici toutes nos recettes !</h1>
   {% endif %}

   {% if user.is_authenticated %}
      <a href="{% url 'add' %}">ajouter une recette</a>
   {% endif %}

  {% if recipes %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Titre</th>
                    <th>Difficulté</th>
                    <th>Temps de préparation</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>
                            <a href="{% url 'recipe' recipe.id %}">
                                <img  style="width:30%" src=" {% if recipe.pics_set.all %}
                                {% for pic in recipe.pics_set.all %}
                                    {% if forloop.counter == 1%}
                                        {{ pic.image.url }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                /static/recette/img/no-img.jpg
                            {% endif %}" alt="" />
                            </a>
                        </td>
                        <td>{{ recipe.title }}</td>
                        <td>{{ recipe.get_difficult_display }}</td>
                        <td>{{ recipe.preparationTime }} minutes</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if recipes.has_previous %}
                    <a href="?type={{ typeRecipe.id }}&page={{ recipes.previous_page_number }}">Résultats précédent</a>
                {% endif %}

                <span class="current">
                    Page {{ recipes.number }} de {{ recipes.paginator.num_pages }}
                </span>

                {% if recipes.has_next %}
                    <a href="?type={{ typeRecipe.id }}&page={{ recettes.next_page_number }}">Résultats suivant</a>
                {% endif %}
            </span>
        </div>
    {% else %}
      <h2>Aucune recette</h2>
    {% endif %}



{% endblock %}