{% extends 'recette/_base.html' %}
{% block title %}Recette - {{ recipe.title }}{% endblock %}
{% block contents %}
    <h1>Modifier la recette !</h1>

    <form action="{% url 'modify' recipe.id %}" class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ recipeForm.as_p }}
            {{ ingredientForm.as_p }}
            {{ imgForm.as_p }}
        <input class="btn btn-primary" type="submit" value="Modifier la recette !" />
    </form>

{% endblock %}