{% extends 'recette/_base.html' %}
{% block title %}Mon profil !{% endblock %}
{% block contents %}
     <h1>Mon profil !</h1>

    {% if success_send_mail %}
            <h5 class="success_message">Votre recette a été envoyé à votre ami(e)!</h5>
    {% endif %}

    {% if success_message %}
            <h5 class="success_message">Votre recette a été modifiée !</h5>
    {% endif %}

    <h3>Mes infos</h3>
        <ul>
            <li>{{ user.last_name }}</li>
            <li>{{ user.first_name }}</li>
            <li>{{ user.email }}</li>
            <li>{{ user.username }}</li>
        </ul>

    <h3>Mes recettes</h3>
        {% if recipes is None %}
            <p>Pas de recette</p>
        {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Titre</th>
                        <th>Difficulté</th>
                        <th>Temps de préparation</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <td>
                                <a href="{% url 'recipe' recipe.id %}">
                                    <img  style="width:30%" src=" {% if recipe.pics_set.all %}
                                    {% for pic in recipe.pics_set.all %}
                                        {% if forloop.counter == 1%}
                                            {{ pic.image.url }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    /static/recette/img/no-img.jpg
                                {% endif %}" alt="" />
                                </a>
                            </td>
                            <td>{{ recipe.title }}</td>
                            <td>{{ recipe.get_difficult_display }}</td>
                            <td>{{ recipe.preparationTime }} minutes</td>
                            <td><a class="btn btn-success" href="{% url 'modify' recipe.id %}">Modifier</a></td>
                            <td><a class="btn btn-danger" href="{% url 'delete' recipe.id %}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
{% endblock %}