{% extends 'recette/_base.html' %}
{% block title %}Recette - {{ recipe.title }} {% endblock %}
{% block contents %}
<div class="recipe-contain col-sm-12">
    <div class="main-recipe">
        <h1>{{ recipe.title }}</h1>
    </div>
    <div class="photos col-sm-6">
            {% if pics %}
                   {% for pic in pics %}
                        {% if forloop.counter == 1%}
                            <div id="mainPicture"><a class="fancybox" rel="gallery1" href="{{ pic.image.url }}"><img src="{{ pic.image.url }}" alt="" /></a></div>
                        {% else %}
                            <div class="others"><a class="fancybox" rel="gallery1" href="{{ pic.image.url }}"><img src="{{ pic.image.url }}" alt="" /></a></div>
                        {% endif %}
                   {% endfor %}
            {% else %}
                {% load static %}
                <img src="{% static urlPic %}" alt="" />
            {% endif %}

    </div>
    <div class="recette-right col-sm-3">
        <div class="detail">
            <span id="type">Type : </span><span>{{ recipe.type }}</span><br>
            <span id="price">Prix : </span><span>{{recipe.get_price_display }}</span><br>
            <span id="difficult">Difficulté : </span><span>{{ recipe.get_difficult_display }}</span><br>
        </div>
        <div class="temps">
            <span id="cookingTime">Temps de cuisson : </span><span>{{ recipe.cookingTime }} minutes</span><br>
            <span id="preparationTime">Temps de preparation : </span><span>{{ recipe.preparationTime }} minutes</span><br>
        </div>
        <div class="preparation">
            <span id="informationPreparation">Preparation : </span><span>{{ recipe.informationPreparation }}</span><br>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ingredients">
            <span id="ing">Ingrédients : </span>
            <span id="enumerateIngredients">
                <ul style="margin-left: 20px;">
                {% for ingredient in ingredients %}
                    <li> {{ ingredient.qty }} {{ ingredient.name }}  </li>
                {% endfor %}
                </ul>
            </span>
        </div>
        <div class="autres">
            <a href="{% url 'mailAtFriends' recipe.id %}">Envoyer à un amis</a>
        </div>
    </div>
</div>

<div class="form_note">
        {% if user.is_authenticated %}
        <h3>Notes ({{ countNotes }}):</h3>
    <p><strong>{{ averageNote.note__avg|floatformat:"2" }}</strong> / 5</p>
            {% if form_note %}
                 <form action="{% url 'recipe' recipe.id %}" method="post">
                {{ form_note }}
                {% csrf_token %}
                 <input type="submit" class="btn btn-primary" value="Donnez une note">
                </form>
            {% else %}
                <span>Vous avez déjà voté !</span>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Vous devez être connecté pour pouvoir noter cette recette !</a>
        {% endif %}
    </div>

    <div class="container_comments">
        <h3>Commentaires ({{ countComments }}):</h3>
        <div class="comments">
            {% for comment in comments %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>{{ comment.user }}</strong> le {{ comment.created_at }}</h3>
                  </div>
                  <div class="panel-body">{{ comment.message }}</div>
                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if comments.has_previous %}
                        <a href="?page={{ comments.previous_page_number }}">précédent</a>
                    {% endif %}

                    <span class="current">
                        Page {{ comments.number }} sur {{ comments.paginator.num_pages }}.
                    </span>

                    {% if comments.has_next %}
                        <a href="?page={{ comments.next_page_number }}">suivant</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="form_comments">
            {% if user.is_authenticated %}
                {% if form_comment %}
                    <h4>Ajouter un commentaire</h4>
                    <form action="{% url 'recipe' recipe.id %}" method="post">
                        {{ form_comment.message }}
                        {% csrf_token %}
                        <input type="submit" id="addComment" class="btn btn-primary" value="Ajouter un commentaire">
                    </form>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Connectez-vous pour laisser un commentaire à cette recette!</a>
            {% endif %}
        </div>
    </div>



<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
{% endblock %}