{% extends "recette/_base.html" %}
{% block contents %}
    <h1>Résultats de la recherche pour : "{{ query }}"</h1>

     <div class="search-filter">
        <form method="GET" action="{% url 'search' %}">
            <span>Trier par : </span>
            <select name="criteria">
                <option {% if criteria == 'titre' %} selected="selected"{% endif %} value="titre">Titre</option>
                <option {% if criteria == 'note' %} selected="selected"{% endif %} value="note">Note moyenne</option>
                <option {% if criteria == 'difficulte' %} selected="selected"{% endif %}value="difficulte">Difficulté</option>
                <option {% if criteria == 'temps_preparation' %} selected="selected"{% endif %}value="temps_preparation">Temps de préparations</option>
            </select>
            <span>Trier par ordre : </span>
            <select name="orderby">
                <option {% if orderby == 'asc' %} selected="selected"{% endif %} value="asc">Croissant</option>
                <option {% if orderby == 'desc' %} selected="selected"{% endif %} value="desc">Décroissant</option>
            </select>
            <input type="hidden" name="page" value="{{ page }}" />
            <input type="hidden" value="{{ query }}" name="search_query"/>
            <input class="btn btn-success" type="submit" value="Filtrer" />
        </form>
     </div>

     <table class="table table-hover search-result">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Titre</th>
                <th>Difficulté</th>
                <th>Note moyenne</th>
                <th>Temps de préparation</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td>
                        <a href="{% url 'recipe' result.id %}">
                            <img  style="width:30%" src=" {% if result.pics_set.all %}
                                    {% for pic in result.pics_set.all %}
                                        {% if forloop.counter == 1%}
                                            {{ pic.image.url }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    /static/recette/img/no-img.jpg
                                {% endif %}" alt="" />
                        </a>
                    <td><a href="{% url 'recipe' result.id %}">{{ result.title }}</a></td>
                    <td>{{ result.get_difficult_display }}</td>
                    <td></td>
                    <td>{{ result.preparationTime }} minutes</td>
                </tr>
            {% endfor %}
        </tbody>
     </table>

      <div class="pagination">
         <span class="step-links">
            {% if results.has_previous %}
                <a href="?search_query={{ query }}&criteria={{ criteria }}&orderby={{ orderby }}&page={{ results.previous_page_number }}">Résultats précédent</a>
            {% endif %}
            <span class="current">
                Page {{ results.number }} de {{ results.paginator.num_pages }}
            </span>
            {% if results.has_next %}
                <a href="?search_query={{ query }}&criteria={{ criteria }}&orderby={{ orderby }}&page={{ results.next_page_number }}">Résultats suivant</a>
            {% endif %}
         </span>
      </div>



{% endblock %}