* {
    margin:0px;
    padding:0px;
}

body {
    //background: url(../images/background.png) repeat;
    font: 10px Arial,Helvetica,sans-serif;
    color: #416271;
}

#search_query{
    width: 90%;
    height: 35px;
}

.user_button, .search{
    margin-top: 35px;
}

#header{
    width:100%;
    height:auto;
    margin-bottom:2%;
}

#main_container{
    margin-left:5%;
    margin-right:5%;
}

label[for="id_ingredients"], label[for="id_informationPreparation"] {
    vertical-align:top;
}

#friendForm
{
    margin-top: 50px;
}

#friendForm input, #friendForm textarea
{
    display: block;
    margin-top: 10px;
}

.success_message{
    color: green;
    font-size: 25px;
    font-weight: bold;
}


.others{
    opacity: 0.6;
}

.others:hover{
    opacity: 1;
}

#type, #difficult, #note, #price, #cookingTime, #preparationTime, #informationPreparation, #ing
{
    font-weight: bold;
    font-size: 15px;
    color: blue;
}

#addComment{
    margin-top: 10px;
    display: block;
}