{% extends 'recette/_base.html' %}
{% block title %}Authentification{% endblock %}
{% block contents %}

  <h1>Se connecter</h1>

  {% if success_message %}
        <h5 class="success_message">Vous venez de créer votre compte. Vous pouvez dès à present vous connecter.</h5>
  {% endif %}

  <form method="post" class="form" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

      <input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" class="btn btn-primary" value="Se connecter" />
  </form>

{% endblock %}