{% extends "recette/_base.html" %}
{% block title %}S'enregistrer{% endblock %}
{% block contents %}
    <h1>Mes informations personnelles</h1>
     <form id="registration_form" class="form" method="post" action="{% url 'register' %}">
         {% csrf_token %}
         {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Créez votre compte"/>
    </form>
{% endblock %}